<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <!-- <link rel="stylesheet" href="/css/app.css"> -->
    </head>
    <body>
        <h1>Edit Workouts Page</h1>
        <form action="/workouts/<%=workout.id%>?_method=PUT" method="POST">
		<!--  NOTE: the form is pre-populated with values for the server-->
		Type: <input type="text" name="type" value="<%=workout.type%>"/><br/>
		Time: <input type="number" name="time" value="<%=workout.time%>"/><br/>
		<br/>
		<input type="submit" name="" value="Submit Changes"/>
        </form>
    </body>
</html>