
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>New Workout page</h1>

    <form action="/workouts" method="POST">
      Group: <input type="text" name="group" /><br />
      Time: <input type="text" name="time" /><br />
      <input type="submit" name="" value="Create workout" />
    </form>
  </body>
</html>