<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Workout show page</h1>
        Group: <%= workout.group %>  
    </br>
        Time: <%= workout.time %>
    </body>
</html>  