html {
    height: 100%;
    width: 100%;
    resize: both;
    overflow: hidden;
  }

body {
    background-image: url('https://media.istockphoto.com/photos/gym-background-with-dumbbell-on-dark-floor-picture-id947343978?k=6&m=947343978&s=170667a&w=0&h=eJc4HGXvT5F5qhcBn1zonNB1AC3yFSu3SNBjzjzO6Ss=');
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 100vw;
    height: 100vh;
    overflow:auto;
  }

h1 {
color: #c9d0d4; 
font-family: 'Helvetica Neue', sans-serif; 
font-size: 75px; 
font-weight: 300; 
line-height: 50px; 
letter-spacing: 1px; 
padding: 0 0 40px; 
border-bottom: double #c9d0d4;
align-content: center;
}
.workout {
 position: absolute; 
 left: 35%;
 width: 80%;
 margin: 0 auto;
 font-size: 0;
} 

.workout1 {
  display: inline-block;
  width: 200px;
  height: 200px;
  color: rgb(30, 77, 138);
  font-family: 'Verdana', sans-serif; 
  font-size: 16px; 
  line-height: 26px;  
  margin: 0 1rem 0 1rem;
  border-style: double; 
  border-color: rgb(30, 77, 138);
  border-width: 5px;
  background: rgba(236, 240, 241, 0.6)
}
:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: rgba(236, 240, 241, 0.7);
  --color-secondary: rgb(30, 77, 138);
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}
.multi-button {
  display: flex;
  width: 80%;
  box-shadow: var(--shadow) 4px 4px;
}

.multi-button button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
  border: var(--border-size) solid rgb(30, 77, 138);;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: .75rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
}

.multi-button button + button {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.multi-button button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.multi-button button:active {
  transform: translateY(var(--border-size));
}

.home {
  height: 5rem;
  width: 5rem;
}
/* .workout2 {
   
} */

