.nav-logo {
    length: 150px;
    width: 200px;
}
img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    border-bottom: 1px solid #ccc;
    list-style: none;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: flex;
    width: 100%;
  }
  li {
    background-image: linear-gradient(
      to bottom,
      transparent 50%,
      rgb(128, 239, 247) 50%,
      rgb(115, 170, 207) 95%,
      rgb(118, 162, 197) 95%
    );
    background-size: 100% 200%;
    background-position: top center;
    color: #666;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease-in-out;
    width: 10%;
}

li:hover {
    background-position: bottom center;
    color: rgba(0,0,0,.75);
}
a {
    color: #666;
    display: block;
    padding: 1rem 0;
    transition: all .25s ease-in-out;
}


.nav-right {
    justify-content: flex-end;
}

.nav-left {
    justify-content: flex-start; 
}