<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>Sign Up</h1>

    <form action="/auth" method="POST">
      Name: <input type="text" name="name" /><br />
      <br />
      Username: <input type="text" name="username" /> <br />
      <br />
      Password: <input type="text" name="password" /><br />
      <br />
      Weight: <input type="number" name="weight" /><br />
      <br />
      Age: <input type="number" name="age" /><br />
      <br />
      <input type="submit" value="SignUp" />
    </form>
  </body>
</html>