<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app2.css">
    </head>
    <body>
        <h1>FlexBody Community</h1>
        <ul class="workout">
            <% for(let i=0; i<users.length; i++) { %>
                  <li class="workout1">
                        </br>
                        Name: <%=users[i].name%> 
                        </br></br>
                        Age: <%=users[i].age%>
                        </br></br>
                        Weight: <%=users[i].weight%>   
                </li>
                <% } %>
            </ul>
            <div class="multi-button home">
                <a href="/"><button >Back to HomePage</button> </a>
            </div>
        </body>
</html>